<%- include("../partials/header"); %>
<%- include("../partials/navbar"); %>
<div class="container mg-bottom-100 mg-top-40">
  <h2 class="mg-top-20">Promoção</h2>
  <div class="card">
      <div class="card-header bg-dark text-white">
          Adicionar imagens de promoção
      </div>
      <div class="card-body bg-dark text-white">
          <form action="/promocao/uploader" method="POST" enctype="multipart/form-data">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Enviar</span>
              </div>
              <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Escolha o arquivo</label>
              </div>
            </div>
          <div class="d-flex flex-column">
          <button class="btn btn-outline-success mg-top-20">Enviar</button>
          <span class="text-warning mg-top-20"><strong>Obs: </strong>Todas as imagens devem estar no formato PNG e com nome na seguinte ordem (promocao1, promocao2 etc...)</span>
          </div>
        </form>
          

          
      </div>     
  </div>
  <div class="card mg-top-40">
    <div class="card-header">
      <h2 class="mg-top-20">Imagens Enviadas</h2>
    </div>
    <div class="card-body">
        <div class="container-imgs">
          <div class="first3">
            <% if (img1 != undefined) { %>

                <div class="img1">
                  <div class="card-header bg-dark text-white">
                      <h4 class="text-center"><%= img1 %></h4>
                  </div>
                    <img src="/img/promocoes/<%= img1 %>" alt="">
                    <form class="d-flex justify-content-center mg-top-20 mg-bottom-20" action="/delete" method="POST">
                      <input type="hidden" name="imagemId" value="<%= img1 %>">
                      <button class="btn btn-danger"><i class="far fa-trash"></i>Deletar</button>
                    </form>

                </div>

            <% } %>

            <% if (img2 != undefined) { %>
                <div class="img2">
                  <div class="card-header bg-dark text-white">
                    <h4 class="text-center"><%= img2 %></h4>
                  </div>
                  <img src="/img/promocoes/<%= img2 %>" alt="">
                  <form class="d-flex justify-content-center mg-top-20 mg-bottom-20" action="/delete" method="POST">
                    <input type="hidden" name="imagemId" value="<%= img2 %>">
                    <button class="btn btn-danger"><i class="far fa-trash"></i>Deletar</button>
                  </form>
                </div>
          <% } %>

          <% if (img3 != undefined) { %>
            <div class="img3">
              <div class="card-header bg-dark text-white">
                <h4 class="text-center"><%= img3 %></h4>
              </div>
              <img src="/img/promocoes/<%= img3 %>" alt="">
              <form class="d-flex justify-content-center mg-top-20 mg-bottom-20" action="/delete" method="POST">
                <input type="hidden" name="imagemId" value="<%= img3 %>">
                <button class="btn btn-danger"><i class="far fa-trash"></i>Deletar</button>
              </form>
            </div>
          <% } %>
        </div>
        <div class="second3">
          <% if (img4 != undefined) { %>
            <div class="img4">
              <div class="card-header bg-dark text-white">
                <h4 class="text-center"><%= img4 %></h4>
              </div>
              <img src="/img/promocoes/<%= img4 %>" alt="">
              <form class="d-flex justify-content-center mg-top-20 mg-bottom-20" action="/delete" method="POST">
                <input type="hidden" name="imagemId" value="<%= img4 %>">
                <button class="btn btn-danger"><i class="far fa-trash"></i>Deletar</button>
              </form>
            </div>
          <% } %>

          <% if (img5 != undefined) { %>
            <div class="img5">
              <div class="card-header bg-dark text-white">
                <h4 class="text-center"><%= img5 %></h4>
              </div>
              <img src="/img/promocoes/<%= img5 %>" alt="">
              <form class="d-flex justify-content-center mg-top-20 mg-bottom-20" action="/delete" method="POST">
                <input type="hidden" name="imagemId" value="<%= img5 %>">
                <button class="btn btn-danger"><i class="far fa-trash"></i>Deletar</button>
              </form>
            </div>
          <% } %>

          <% if (img6 != undefined) { %>
            <div class="img6">
              <div class="card-header bg-dark text-white">
                <h4 class="text-center"><%= img6 %></h4>
              </div>
              <img src="/img/promocoes/<%= img6 %>" alt="">
              <form class="d-flex justify-content-center mg-top-20 mg-bottom-20" action="/delete" method="POST">
                <input type="hidden" name="imagemId" value="<%= img6 %>">
                <button class="btn btn-danger"><i class="far fa-trash"></i>Deletar</button>
              </form>
            </div>
          <% } %>
        </div>

        </div>
        
    </div>
    
  </div>
</div>
<%- include("../partials/footer"); %>